@charset "UTF-8";
    header
		{
			text-align: right;
        }

    body
		{
			font-family: 'メイリオ';
        }
	


    article
		{	
			text-align: center;	
			margin-left: auto;
			margin-right: auto;
        }

	section
		{
			display: inline-block;	/*要素を変更*/
			text-align: left;
		}


	figure
		{
			background-color: #999999;
			text-align: center;		/*画像を中央に配置する*/
			padding: 50px;		/*画像に対して、上下左右の余白を設ける*/
			
		}
    p
		{
			width: 780px;
			margin-top: 0;		/*<h3>と並べた時の上余白を詰める*/
			line-height: normal;
		}

/*格言*/
    h2
		{
    		color: #a549bc;
			text-align: center;
        }

/*項目見出し*/
    h3
		{
			margin-bottom: 0;	/*<p>と並べた時の下余白を詰める*/
    	}