@charset "UTF-8";
    header
		{
		text-align: right;
        }

    body
		{
			justify-content: center;
			margin: auto;
        }


/*画像を中央に配置する*/
	

/*各コンテンツの設定*/
    article
		{
		width:1168px;
		margin-right: auto;
    	margin-left: auto;
        }

    p
		{
		margin-top: 0;
		line-height: normal;
		}

/*格言*/
    h2
		{
    	color: #a549bc;
        }

/*項目見出し*/
    h3
		{
		font-size: 20px;
		margin-bottom: 0;
    	}